body {
  background-color: salmon;
}

.container {
  max-width: 960px;
  margin: auto;
}

input#query {
  width: 200px;
  height: 400px !important;
  font-size: 20px;
}

button {
  font-size: 2em;
  background-color: none;
  border-radius: 70px;
  border: salmon;
  box-shadow: 2px 2px 5px #ddd;
}
